.toast {
  position: fixed;
  left: 10px;
  bottom: 40px;
  font-size: 14px;
  border-radius: 4px;
  color: #414141;
  max-width: 500px;
  background-color: #efefef;
  padding: 14px;
  border-left: 4px solid #efefef;
  box-shadow: 1px 7px 14px -5px rgba(0, 0, 0, 0.2);
}

.toast.success {
  border-left: 4px solid #2bde3f;
}

.toast.error {
  border-left: 4px solid red;
}

.toast .close {
  background: inherit;
  padding: 0;
  font-size: 16px;
  margin-left: 10px;
  position: initial;
}
