.form-row {
  margin-bottom: 20px;
}

.action-error {
  margin-bottom: 15px;
}

.error {
  color: #f00;
}

form input {
  border: 1px solid #e4e6e5;
  border-radius: 3px;
  box-sizing: border-box;
  font-size: 13px;
  padding: 10px;
  width: 100%;
}

form input:active,
form input:focus {
  outline: none;
}

form button {
  background-color: #41ac52;
  border-radius: 3px;
  color: #fff;
  cursor: pointer;
  font-size: 15px;
  font-weight: 600;
  height: 36px;
  line-height: 36px;
  outline: 0;
  padding: 0;
  width: 100%;
}
