.movie-item {
  align-items: center;
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;

  button {
    font-weight: 500;

    padding: 0;
    text-align: left;
  }

  div button {
    margin-bottom: 4px;
  }

  p {
    color: #757575;
    font-size: 12px;
    line-height: 1.5;
    margin: 0;
    padding: 0;
  }

  .add {
    margin-left: 10px;
    visibility: hidden;

    i {
      margin: 2px;
    }
  }

  &:hover .add {
    visibility: visible;
  }
}
