.my-list-item {
  img {
    width: 80px;
  }

  .my-item-info {
    background: #f8f8f8;
    padding: 5px 10px;
    margin-top: 4px;
  }

  .my-info {
    font-size: 13px;
    color: #666666;

    .updatedat {
      margin-left: 10px;
      margin-right: 5px;
    }
  }
}
