.pagination {
  display: flex;
  justify-content: center;
  margin: 30px 0;

  button {
    border: 0;
    color: #37a;
    cursor: pointer;
    font-size: 14px;

    &:hover {
      background-color: #37a;
      color: #fff;
    }

    &:disabled {
      background: #83bf73;
      color: #fff;
      cursor: default;
      pointer-events: none;
    }
  }
}

.search-item {
  display: flex;
  margin-bottom: 20px;

  img {
    margin-right: 15px;
    max-height: 72px;
    width: 48px;
  }

  .info {
    flex: 1;
  }

  button,
  a {
    border: 0;
    color: #37a;
    cursor: pointer;
    font-size: 14px;
    margin-bottom: 4px;
    padding: 0;
    text-align: left;

    &:hover {
      background-color: #37a;
      color: #fff;
    }
  }

  a {
    display: inline-block;
    text-decoration: none;
  }

  .title {
    margin-right: 10px;
    max-width: calc(100% - 26px);
  }

  p {
    color: #757575;
    font-size: 12px;
    line-height: 1.5;
    margin: 0;
    padding: 0;
  }

  .add {
    visibility: hidden;

    i {
      margin: 2px;
    }
  }

  &:hover .add {
    visibility: visible;
  }
}
