.header a {
  text-decoration: none;
}

.header span:hover {
  color: #fff;
  cursor: pointer;
}

button {
  background: transparent;
  border: 0;
  color: #d5d5d5;
  font-size: 12px;
  padding: 0 12px;

  &:hover {
    color: #fff;
    cursor: pointer;
  }
}

.icon-arrow-down {
  font-size: 16px;
}

.dropdown-menu {
  background: #fff;
  border: 1px solid #e6e6e6;
  padding: 10px 0;
  top: 7px !important;
  width: 90px;

  div {
    &:hover {
      background-color: #f6f6f6;
    }

    button {
      padding: 0;
      text-align: left;
    }

    button,
    a {
      color: #3d3d3d;
      padding: 0 20px;
      width: 100%;
    }
  }
}
